* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar {
    background-color: #ffff;
    color: #fff;
    font-size: 20px;
}

.nav-link {
    color: #303030 !important;
}

.nav-link:hover{
    color: #3d3d3d;
}

.introduction {
        padding-top: 20px;
    max-width: 100% !important;
    color: #333;
    padding-bottom: 20px;
    
}

.bio{
    font-size: 20px;
}
.container {
    max-width: 960px;
}

h1 {
    font-size: 36px;
}

h2 {
    text-align: center;
    padding-bottom: 20px;
}

.btn-primary {
    background-color: #3498db;
    color: #fff;
    border-radius: 10px;
}

/* Most Sold Items Catalog styles */
.card {
    border: 1px solid #3b3b3b;
    border-radius: 15px;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
}

.card-text {
    font-size: 16px;
}

/* Footer styles */
.footer {
    background-color: #4c4fff;
    color: #fff;
    padding: 10px 0;
}

.logo-image {
    max-width: 70px;
    height: auto;
}

.logo-e {
    max-width: 300px;
    height: auto;
}

.catalog-img {
    max-width: 300px;
    height: auto;
    display: block;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none;
}

btn:focus,a:focus {
    outline: none;
}

.navbar-toggler:focus {
    outline: none !important;
    box-shadow: none;
}